<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971346085628-vqrellsr2slrpfidgojc3e55vmflun0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971346085628-vqrellsr2slrpfidgojc3e55vmflun0e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>971346085628-ufjot29ja48c3tb2u1fef9d9464smhvd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiR_-g_6WT7b6H--ICPggfHlAek5pzRiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>971346085628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.optinmapresta</string>
	<key>PROJECT_ID</key>
	<string>optinmapresta-5daec</string>
	<key>STORAGE_BUCKET</key>
	<string>optinmapresta-5daec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971346085628:ios:154d778733993afb317979</string>
	<key>DATABASE_URL</key>
	<string>https://optinmapresta-5daec.firebaseio.com</string>
</dict>
</plist>